<section class="youyan" id="comments">
  <div id="uyan_frame"></div>
  <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2134731"></script>
  <script>

  alert(22222);
  </script>
</section>
